<%= link_to "Back to subs", subs_url %>

<h2>Show Sub: <%=@sub.title%></h2>
Description: <%=@sub.description%>
<br>
Moderator: <%=@sub.moderator.username%>
<br>
<%= link_to "Edit Sub", edit_sub_url %>

<h3>Posts</h3>
<ul>
  <% @sub.posts.each do |post| %>
  <li>
    <%= link_to post.title, post_url(post)%>
  </li>
  <%end%>
</ul>

<h3>Create Post</h3>
<%=link_to "New Post", new_post_url%>
